@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <script>
        setTimeout(() => {
            addEventListener("focus", () => {
                window.location = "https://www.roblox.com/games/189707/Natural-Disaster-Survival";
            });
        }, 500);
        
        window.location = "roblox://experiences/start?placeId=7791106063";
    </script>
</body>
</html>
