@{
	ViewData["Title"] = "welcome";
}

<div class="flex h-screen">
    <div class="my-auto p-4">
        <p class="text-4xl">hi there</p>
        <p>welcome, though i don't really have much to show here. </p>
        <p><a href="https://github.com/pizzaboxer" class="hover:underline">github profile</a> <span class="mx-1">&bull;</span> <a href="mailto:pizzaboxer@proton.me" class="hover:underline">email me</a></p>
    </div>
</div>