@{
	ViewData["Title"] = "welcome";
}

<div class="flex h-screen">
    <div class="my-auto p-4">
        <div class="inline-flex space-x-4 mb-2">
            <img style="height:36px" src="/img/icon-circle.png">
            <h1 class="text-2xl underline"><a asp-action="about">pizzaboxer</a></h1>
        </div>
        <p class="mb-3">software developer and amateur reverse engineerer</p>
        <div class="inline-flex items-center space-x-4">
			<a href="https://github.com/pizzaboxer" class="hover:opacity-75"><img class="w-6" src="/img/github.png" title="GitHub" alt="GitHub"></a>
			<a href="https://twitter.com/boxerpizza" class="hover:opacity-75"><img class="w-6" src="/img/twitter.png" title="Twitter" alt="Twitter"></a>
			<a href="https://t.me/pizzaboxer" class="hover:opacity-75"><img class="w-6" src="/img/telegram.png" title="Telegram" alt="Telegram"></a>
			<a href="mailto:pizzaboxer@pizzaboxer.xyz" class="hover:opacity-75"><img class="w-6" src="/img/email.svg" title="Email" alt="Email"></a>
        </div>
    </div>
</div>