@{
	ViewData["Title"] = "secret :D";
	ViewData["Description"] = "hi";
}

<div class="max-w-sm mx-auto">
	<div class="bg-slate-800 p-4 mb-4 rounded-xl shadow-lg">
		<h1 class="text-2xl underline">secret :D</h1>
		<p>hi</p>
	</div>
</div>
