@{
    ViewData["Title"] = "page not found";
    ViewData["Description"] = "the requested page was not found";
}

<div class="flex h-screen">
    <div class="my-auto p-4">
        <p class="text-4xl">404 - page not found</p>
        <p>the requested page was not found</p>
        <div class="my-3"></div>
        <p>&gt; <a href="#" class="hover:underline" onclick="window.history.back()">go back</a></p>
        <p>&gt; <a href="/" class="hover:underline">return home</a></p>
    </div>
</div>