@{
    ViewData["Title"] = "page not found";
}

<div class="flex h-screen">
    <div class="my-auto p-4">
        <p class="text-4xl">page not found</p>
        <p><a href="#" class="hover:underline" onclick="window.history.back()">go back</a> &bull; <a href="/" class="hover:underline">return home</a></p>
    </div>
</div>